<section class="about">
  <div class="container">
    <h2 class="visually-hidden"></h2>
    <picture>
      <source
        srcset="../img/about/web-about/about_@1x.webp 1x, ../img/about/web-about/about_@2x.webp 2x"
        type="image/webp"
      />
      <source
        srcset="../img/about/about_@1x.jpg 1x, ../img/about/about_@2x.jpg 2x"
        type="image/jpeg"
      />
      <img
        srcset="../img/about/about_@1x.jpg 1x, ../img/about/about_@2x.jpg 2x"
        class="about-img"
        src="../img/about/about_@1x.jpg"
        alt="Handmade ring crafting"
        width="335"
        height="355"
      />
    </picture>
    <h3 class="about-title">The Artistry Behind Handmade Jewelry</h3>
    <p class="about-text">
      Handmade Jewelry began as a passion project, inspired by the beauty of
      nature and the desire to create meaningful pieces. Each item is crafted
      with love, reflecting our commitment to sustainability and the unique
      story of its maker.
    </p>
    <ol class="about-list">
      <li class="about-item">Inspired by Nature</li>
      <li class="about-item">Handcrafted with Love</li>
      <li class="about-item">Every Piece Tells a Story</li>
    </ol>
  </div>
</section>
