<section class="contacts">
  <div class="container contact-container">
    <div class="contact-caption">
      <h3 class="contact-subtitle">Connect</h3>
      <h2 class="contact-title">Order your unique jewelry</h2>
      <p class="contact-descr">We'd love to hear more details from you!</p>
    </div>
    <div class="contact-content">
      <address class="contact">
        <ul class="contact-list">
          <li class="contact-item">
            <svg class="contact-icon" width="32" height="32">
              <use href="../img/icons.svg#email"></use>
            </svg>
            <p class="contact-mame">Email</p>
            <a class="contact-link" href="mailto:info@handmadejewelry.com"
              >info@handmadejewelry.com</a
            >
          </li>
          <li class="contact-item">
            <svg class="contact-icon" width="32" height="32">
              <use href="../img/icons.svg#phone"></use>
            </svg>
            <p class="contact-mame">Phone</p>
            <a class="contact-link" href="tel:+15550000000"
              >+1 (555) 000-0000</a
            >
          </li>
          <li class="contact-item">
            <svg class="contact-icon" width="32" height="32">
              <use href="../img/icons.svg#location"></use>
            </svg>
            <p class="contact-mame">Office</p>
            <a
              class="contact-link"
              href="https://www.google.com/search?q=76-8+Oakington+Manor+Dr%2C+London%2C+UK&oq=76-8+Oakington+Manor+Dr%2C+London%2C+UK&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIHCAEQABjvBTIKCAIQABiABBiiBDIHCAMQABjvBTIHCAQQABjvBdIBBzU2NmowajeoAgCwAgA&sourceid=chrome&ie=UTF-8"
              target="_blank"
              rel="nooper noreferer"
              >76-8 Oakington Manor Dr, London, UK</a
            >
          </li>
        </ul>
      </address>
      <form class="contact-form" name="reviewForm">
        <div class="contact-form-field">
          <div class="form-label-wrapper">
            <label class="contact-form-label" for="user_name">Name*</label>
            <input
              pattern="^[a-zA-Z\s\.]{5,28}$"
              name="user-name"
              type="text"
              class="contact-form-input"
              id="user_name"
              autocomplete="off"
              placeholder="Tony"
              minlength="3"
            />
          </div>
          <div class="form-label-wrapper">
            <label class="contact-form-label" for="phone">Phone*</label>
            <input
              pattern="^\+[0-9\s]{14}$"
              type="tel"
              class="contact-form-input"
              id="phone"
              autocomplete="off"
              name="phone"
              placeholder="+12345678900"
              minlength="8"
            />
          </div>
          <div class="form-label-wrapper">
            <label class="contact-form-label" for="user_comment"
              >Describe what you want</label
            >
            <textarea
              class="contact-form-comment"
              name="user-comment"
              id="user_comment"
              autocomplete="off"
              placeholder="Type your message..."
              maxlength="500"
            ></textarea>
          </div>
        </div>
        <button class="form-btn" type="submit">Submit</button>
      </form>
    </div>
  </div>
</section>
