<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="title-gallery">
      Jewelry Showcase
    </h2>
    <p class="description-gallery">
      Discover the beauty of our handcrafted jewelry in style.
    </p>
    <ul class="gallery-list">
      <li class="gallery-list-item">
        <picture>
          <!-- Desktop WEBP -->
          <source
            media="(min-width: 1440px)"
            srcset="
      ../img/desktop/webp/beads.webp 1x,
      ../img/desktop/webp/beads@2x.webp 2x
    "
            type="image/webp"
          />

          <!-- Desktop JPG -->
          <source
            media="(min-width: 1440px)"
            srcset="
      ../img/desktop/jpg/beads.jpg 1x,
      ../img/desktop/jpg/beads@2x.jpg 2x
    "
            type="image/jpg"
          />

          <!-- Tablet WEBP -->
          <source
            media="(min-width: 768px)"
            srcset="
      ../img/tablet/webp/beads.webp 1x,
      ../img/tablet/webp/beads@2x.webp 2x
    "
            type="image/webp"
          />

          <!-- Tablet JPG -->
          <source
            media="(min-width: 768px)"
            srcset="
      ../img/tablet/jpg/beads.jpg 1x,
      ../img/tablet/jpg/beads@2x.jpg 2x
    "
            type="image/jpg"
          />

          <!-- Mobile WEBP -->
          <source
            media="(min-width: 375px)"
            srcset="
      ../img/mobile/webp/beads.webp 1x,
      ../img/mobile/webp/beads@2x.webp 2x
    "
            type="image/webp"
          />

          <!-- Mobile JPG -->
          <source
            media="(min-width: 375px)"
            srcset="
      ../img/mobile/jpg/beads.jpg 1x,
      ../img/mobile/jpg/beads@2x.jpg 2x
    "
            type="image/jpg"
          />

          <!-- Fallback -->
          <img
            class="gallery-image"
            src="../img/mobile/jpg/beads.jpg"
            alt="beads image"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <!-- Desktop WEBP -->
          <source
            media="(min-width: 1440px)"
            srcset="
      ../img/desktop/webp/pendant.webp 1x,
      ../img/desktop/webp/pendant@2x.webp 2x
    "
            type="image/webp"
          />

          <!-- Desktop JPG -->
          <source
            media="(min-width: 1440px)"
            srcset="
      ../img/desktop/jpg/pendant.jpg 1x,
      ../img/desktop/jpg/pendant@2x.jpg 2x
    "
            type="image/jpg"
          />

          <!-- Tablet WEBP -->
          <source
            media="(min-width: 768px)"
            srcset="
      ../img/tablet/webp/pendant.webp 1x,
      ../img/tablet/webp/pendant@2x.webp 2x
    "
            type="image/webp"
          />

          <!-- Tablet JPG -->
          <source
            media="(min-width: 768px)"
            srcset="
      ../img/tablet/jpg/pendant.jpg 1x,
      ../img/tablet/jpg/pendant@2x.jpg 2x
    "
            type="image/jpg"
          />

          <!-- Mobile WEBP -->
          <source
            media="(min-width: 375px)"
            srcset="
      ../img/mobile/webp/pendant.webp 1x,
      ../img/mobile/webp/pendant@2x.webp 2x
    "
            type="image/webp"
          />

          <!-- Mobile JPG -->
          <source
            media="(min-width: 375px)"
            srcset="
      ../img/mobile/jpg/pendant.jpg 1x,
      ../img/mobile/jpg/pendant@2x.jpg 2x
    "
            type="image/jpg"
          />

          <!-- Fallback -->
          <img
            class="gallery-image"
            src="../img/mobile/jpg/pendant.jpg"
            alt="beads image"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <!-- Desktop WEBP -->
          <source
            media="(min-width: 1440px)"
            srcset="
      ../img/desktop/webp/neck.webp 1x,
      ../img/desktop/webp/neck@2x.webp 2x
    "
            type="image/webp"
          />

          <!-- Desktop JPG -->
          <source
            media="(min-width: 1440px)"
            srcset="
      ../img/desktop/jpg/neck.jpg 1x,
      ../img/desktop/jpg/neck@2x.jpg 2x
    "
            type="image/jpg"
          />

          <!-- Tablet WEBP -->
          <source
            media="(min-width: 768px)"
            srcset="
      ../img/tablet/webp/neck.webp 1x,
      ../img/tablet/webp/neck@2x.webp 2x
    "
            type="image/webp"
          />

          <!-- Tablet JPG -->
          <source
            media="(min-width: 768px)"
            srcset="
      ../img/tablet/jpg/neck.jpg 1x,
      ../img/tablet/jpg/neck@2x.jpg 2x
    "
            type="image/jpg"
          />

          <!-- Mobile WEBP -->
          <source
            media="(min-width: 375px)"
            srcset="
      ../img/mobile/webp/neck.webp 1x,
      ../img/mobile/webp/neck@2x.webp 2x
    "
            type="image/webp"
          />

          <!-- Mobile JPG -->
          <source
            media="(min-width: 375px)"
            srcset="
      ../img/mobile/jpg/neck.jpg 1x,
      ../img/mobile/jpg/neck@2x.jpg 2x
    "
            type="image/jpg"
          />

          <!-- Fallback -->
          <img
            class="gallery-image"
            src="../img/mobile/jpg/neck.jpg"
            alt="beads image"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <!-- Desktop WEBP -->
          <source
            media="(min-width: 1440px)"
            srcset="
      ../img/desktop/webp/earrings.webp 1x,
      ../img/desktop/webp/earrings@2x.webp 2x
    "
            type="image/webp"
          />

          <!-- Desktop JPG -->
          <source
            media="(min-width: 1440px)"
            srcset="
      ../img/desktop/jpg/earrings.jpg 1x,
      ../img/desktop/jpg/earrings@2x.jpg 2x
    "
            type="image/jpg"
          />

          <!-- Tablet WEBP -->
          <source
            media="(min-width: 768px)"
            srcset="
      ../img/tablet/webp/earrings.webp 1x,
      ../img/tablet/webp/earrings@2x.webp 2x
    "
            type="image/webp"
          />

          <!-- Tablet JPG -->
          <source
            media="(min-width: 768px)"
            srcset="
      ../img/tablet/jpg/earrings.jpg 1x,
      ../img/tablet/jpg/earrings@2x.jpg 2x
    "
            type="image/jpg"
          />

          <!-- Mobile WEBP -->
          <source
            media="(min-width: 375px)"
            srcset="
      ../img/mobile/webp/earrings.webp 1x,
      ../img/mobile/webp/earrings@2x.webp 2x
    "
            type="image/webp"
          />

          <!-- Mobile JPG -->
          <source
            media="(min-width: 375px)"
            srcset="
      ../img/mobile/jpg/earrings.jpg 1x,
      ../img/mobile/jpg/earrings@2x.jpg 2x
    "
            type="image/jpg"
          />

          <!-- Fallback -->
          <img
            class="gallery-image"
            src="../img/mobile/jpg/earrings.jpg"
            alt="beads image"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>