<header class="header">
  <div class="container header-container">
    <a href="#" class="header-logo-link" id="logo">
      <img src="./img/logo.svg" alt="header logo" class="header-logo-icon" />
    </a>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link text-decoration-transition" href="#about"
            >About us</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-transition" href="#benefits"
            >Benefits</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-transition" href="#gallery"
            >Gallery</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-transition" href="#testimonial"
            >Testimonials</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-transition" href="#contact"
            >Contacts</a
          >
        </li>
      </ul>
    </nav>
    <button class="btn nav-btn" type="button" id="headerBtn">Order Now</button>
    <button
      class="burger-btn"
      type="button"
      id="burgerBtn"
      aria-label="Toggle menu"
      aria-expanded="false"
    >
      <svg width="24" height="24" class="burger-btn-svg">
        <use href="./img/icons.svg#menu"></use>
      </svg>
      <svg width="24" height="24" class="close-btn-svg">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</header>
