<header class="header">
  <div class="container header-container">
    <a href="#" class="header-logo-link">
      <svg width="160" height="68" class="header-logo-icon">
        <use href="../img/icons.svg#logo"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav-list" style="display: none">
        <li class="nav-item">
          <a class="nav-link" href="./about.html">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./benefits.html">Benefits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./gallery.html">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./testimonial.html">Testimonials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./contact.html">Contacts</a>
        </li>
      </ul>
      <button
        class="burger-btn"
        type="button"
        id="burgerBtn"
        aria-label="Toggle menu"
        aria-expanded="false"
      >
        <svg width="24" height="24" class="burger-btn-svg">
          <use href="../img/icons.svg#menu"></use>
        </svg>
        <svg width="24" height="24" class="close-btn-svg">
          <use href="../img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>

<div class="modal" id="modal">
  <div class="container">
    <ul class="modal-list">
      <li class="modal-item">
        <a class="modal-link" href="./about.html">About us</a>
      </li>
      <li class="modal-item">
        <a class="modal-link" href="./benefits.html">Benefits</a>
      </li>
      <li class="modal-item">
        <a class="modal-link" href="./gallery.html">Gallery</a>
      </li>
      <li class="modal-item">
        <a class="modal-link" href="./testimonial.html">Testimonials</a>
      </li>
      <li class="modal-item">
        <a class="modal-link" href="./contact.html">Contacts</a>
      </li>
    </ul>
    <button class="modal-btn">Order Now</button>
  </div>
</div>
