<header class="header">
  <div class="container">
    <nav class="menu-bar">
      <a href="#" class="header-logo-a">
        <svg width="160" height="68" class="header-logo-svg">
          <use href="../img/icons.svg#logo"></use>
        </svg>
      </a>
      <button
        class="burger-btn"
        type="button"
        id="burgerBtn"
        aria-label="Toggle menu"
        aria-expanded="false"
      >
        <svg width="24" height="24" class="burger-btn-svg">
          <use href="../img/icons.svg#menu"></use>
        </svg>
        <svg width="24" height="24" class="close-btn-svg">
          <use href="../img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>

<div class="modal-menu-container" id="modalMenu">
  <div class="container">
    <ul class="modal-menu-list">
      <li class="modal-menu-item">
        <a class="modal-menu-a" href="./about.html">About us</a>
      </li>
      <li class="modal-menu-item">
        <a class="modal-menu-a" href="./benefits.html">Benefits</a>
      </li>
      <li class="modal-menu-item">
        <a class="modal-menu-a" href="./gallery.html">Gallery</a>
      </li>
      <li class="modal-menu-item">
        <a class="modal-menu-a" href="./testimonial.html">Testimonials</a>
      </li>
      <li class="modal-menu-item">
        <a class="modal-menu-a" href="./contact.html">Contacts</a>
      </li>
    </ul>
    <button class="modal-order-btn">Order Now</button>
  </div>
</div>
