<div class="modal" id="modal">
  <div class="container">
    <ul class="modal-list">
      <li class="modal-item">
        <a class="modal-link" href="./about.html">About us</a>
      </li>
      <li class="modal-item">
        <a class="modal-link" href="./benefits.html">Benefits</a>
      </li>
      <li class="modal-item">
        <a class="modal-link" href="./gallery.html">Gallery</a>
      </li>
      <li class="modal-item">
        <a class="modal-link" href="./testimonial.html">Testimonials</a>
      </li>
      <li class="modal-item">
        <a class="modal-link" href="./contact.html">Contacts</a>
      </li>
    </ul>
    <button class="modal-btn">Order Now</button>
  </div>
</div>
