<div class="modal" id="modal">
  <div class="container modal-container">
    <ul class="modal-list">
      <li class="modal-item">
        <a class="modal-link text-decoration-transition" href="#about"
          >About us</a
        >
      </li>
      <li class="modal-item">
        <a class="modal-link text-decoration-transition" href="#benefits"
          >Benefits</a
        >
      </li>
      <li class="modal-item">
        <a class="modal-link text-decoration-transition" href="#gallery"
          >Gallery</a
        >
      </li>
      <li class="modal-item">
        <a class="modal-link text-decoration-transition" href="#testimonial"
          >Testimonials</a
        >
      </li>
      <li class="modal-item">
        <a class="modal-link text-decoration-transition" href="#contact"
          >Contacts</a
        >
      </li>
    </ul>
    <button class="btn modal-btn">Order Now</button>
  </div>
</div>
