<div class="modal" id="modal">
  <div class="container modal-container">
    <ul class="modal-list">
      <li class="modal-item">
        <a class="modal-link" href="#about">About us</a>
      </li>
      <li class="modal-item">
        <a class="modal-link" href="#benefits">Benefits</a>
      </li>
      <li class="modal-item">
        <a class="modal-link" href="#gallery">Gallery</a>
      </li>
      <li class="modal-item">
        <a class="modal-link" href="#testimonial">Testimonials</a>
      </li>
      <li class="modal-item">
        <a class="modal-link" href="#contact">Contacts</a>
      </li>
    </ul>
    <a class="btn modal-btn" href="#contact">Order Now</a>
  </div>
</div>
