<section class="testimonials">
  <h2 class="section-title">Customer testimonials</h2>
  <p class="section-description">
    Absolutely love my new earrings! They are stunning.
  </p>
  <ul class="reviews-list">
    <li class="review-item">
      <!-- мені здається цей дів тут не потрібен але коли буду стилізувати вже вирішу як буде краще -->
      <div class="review-image-container">
        <img class="review-image" src="" alt="" />
        <img class="review-image" src="" alt="" />
      </div>
      <div class="review-content">
        <span class="review-rate">
          <svg class="review-rate-star" width="24" height="24">
            <use href="../img/icons.svg#"></use>
            <!-- іконки поки що не додаю зроблю це пізніше -->
          </svg>
          <svg class="review-rate-star" width="24" height="24">
            <use href="../img/icons.svg#"></use>
          </svg>
          <svg class="review-rate-star" width="24" height="24">
            <use href="../img/icons.svg#"></use>
          </svg>
          <svg class="review-rate-star" width="24" height="24">
            <use href="../img/icons.svg#"></use>
          </svg>
          <svg class="review-rate-star" width="24" height="24">
            <use href="../img/icons.svg#"></use>
          </svg>
        </span>
        <blockquote class="review-text">
          "Each piece tells a story, and I love mine!"
        </blockquote>
        <p class="review-author">Name Surname</p>
      </div>
    </li>
    <li class="review-item">
      <div class="review-content">
        <span class="review-rate">
          <svg class="review-rate-star" width="24" height="24">
            <use href="../img/icons.svg#"></use>
          </svg>
          <svg class="review-rate-star" width="24" height="24">
            <use href="../img/icons.svg#"></use>
          </svg>
          <svg class="review-rate-star" width="24" height="24">
            <use href="../img/icons.svg#"></use>
          </svg>
          <svg class="review-rate-star" width="24" height="24">
            <use href="../img/icons.svg#"></use>
          </svg>
          <svg class="review-rate-star" width="24" height="24">
            <use href="../img/icons.svg#"></use>
          </svg>
        </span>
        <blockquote class="review-text">
          "The craftsmanship is exquisite, and I feel unique wearing it."
        </blockquote>
        <p class="review-author">Name Surname</p>
      </div>
      <!-- мені здається цей дів тут не потрібен але коли буду стилізувати вже вирішу як буде краще -->
      <div class="review-image-container">
        <img class="review-image" src="" alt="" />
        <img class="review-image" src="" alt="" />
      </div>
    </li>
  </ul>
</section>
