:root {
  --font-family: 'Mulish', sans-serif;
  --second-family: 'Sora', sans-serif;
  --font-md: 500;
  --font-sb: 600;
  --font-b: 700;
  --main-font-size: 16px;
  --main-title-lh: 1.2;
  --small-title-lh: 1.4;
  --title-ls: -0.01em;
  --main-color: #000;
  --white-color: #fff;
  --accent-color: #ccc16e;
  --btn-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.32);
  --link-active-color: #8668c7;
  --form-error-color: #8c0000;
  --form-placeholder-color: rgba(0, 0, 0, 0.6);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  font-size: var(--main-font-size);
  color: var(--main-color);
  line-height: 1.5;
  background-color: var(--white-color);
  font-family: var(--font-family);
}
body:has(.modal.is-open) {
  overflow-y: hidden;
}
body:has(.modal.is-open) main,
body:has(.modal.is-open) footer {
  overflow-y: hidden;
  pointer-events: none;
  user-select: none;
  visibility: hidden;
}
.btn {
  display: block;
  outline: transparent;
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  font-weight: var(--font-md);
  padding: 5px;
  transition: background-color var(--transition), box-shadow var(--transition);
  cursor: pointer;
  width: 100%;
}
@media (hover: hover) {
  .btn:hover {
    background-color: var(--white-color);
  }
}
.btn:focus {
  background-color: var(--white-color);
  outline: transparent;
}
.btn:active {
  outline: transparent;
  background-color: var(--accent-color);
  box-shadow: var(--btn-shadow);
}
