:root {
  --font-family: 'Mulish', sans-serif;
  --second-family: 'Sora', sans-serif;
  --font-md: 500;
  --font-sb: 600;
  --font-b: 700;
  --main-title-lh: 1.2;
  --small-title-lh: 1.4;
  --title-ls: -0.01em;
  --main-color: #000;
  --white-color: #fff;
  --accent-color: #ccc16e;
  --btn-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.32);
  --link-active-color: #8668c7;
  --form-error-color: #8c0000;
  --form-placeholder-color: rgba(0, 0, 0, 0.6);
  --transition: all 0.3s ease;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--white-color);
}
