.benefits {
  padding: 64px 0;
}
.benefits-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.benefits-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: var(--main-title-lh);
  letter-spacing: var(--title-ls);
  text-align: center;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
}
.benefits-list-item {
  padding: 32px 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #f2f2f2;
}
.benefits-item-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: var(--small-title-lh);
  letter-spacing: var(--title-ls);
}
.benefits-item-descr {
}
