.benefits {
  padding: 64px 0;
}
.benefits-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.benefits-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: var(--main-title-lh);
  letter-spacing: var(--title-ls);
  text-align: center;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
}
.benefits-list-item {
  padding: 32px 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #f2f2f2;
}
.benefits-item-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: var(--small-title-lh);
  letter-spacing: var(--title-ls);
}
@media screen and (min-width: 1440px) {
  .benefits-container {
    align-items: center;
  }
  .benefits-title {
    max-width: 870px;
    font-size: 40px;
  }
  .benefits-list {
    flex-direction: row;
    gap: 32px;
  }
  .benefits-list-item {
    flex: 1;
  }
}
