.footer {
  padding: 80px 0px;
}
.footer-wrapper {
  margin-bottom: 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 24px;
}
.footer-social-wrapper {
  margin-bottom: 64px;
}
.footer-logo {
  margin-bottom: 48.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-logo-icon {
  width: 202px;
  height: 63px;
}
.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.footer-social-item {
  width: 32px;
  height: 32px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill var(--transition);
}
.footer-social-link:focus,
.footer-social-link:active {
  fill: var(--accent-color);
}
.footer-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.footer-nav-link {
  font-size: 18px;
  outline: transparent;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color var(--transition), color var(--transition);
}
.footer-nav-link:focus {
  text-decoration-color: currentColor;
}
.footer-nav-link:active {
  color: var(--link-active-color);
  text-decoration: none;
}
.footer-copyright {
  text-align: center;
  font-size: 14px;
}
@media (hover: hover) {
  .footer-nav-link:hover {
    text-decoration-color: currentColor;
  }
  .footer-social-link:hover {
    fill: var(--accent-color);
  }
}
@media (min-width: 768px) {
  .footer-container {
    padding: 0px 64px;
  }
  .footer-logo {
    margin-bottom: 58px;
  }
  .footer-logo-icon {
    width: 318px;
    height: 100px;
  }
  .footer-nav-link {
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-logo {
    margin-bottom: 38.5px;
    justify-content: flex-start;
  }
  .footer-logo-icon {
    width: 79px;
    height: 25px;
  }
  .footer-social-item {
    width: 24px;
    height: 24px;
  }
  .footer-nav-list {
    min-width: 303px;
    align-items: flex-start;
  }
}
