.header-container {
  display: flex;
  padding: 0 24px;
}
.header {
  height: 72px;
}
.header-logo-link {
  max-height: 68px;
}
.nav-list {
  display: none;
}
.nav-btn {
  display: none;
}
.burger-btn {
  background-color: transparent;
  border: none;
  margin-left: auto;
  transition: var(--transition);
  padding: 0;
}
.close-btn-svg {
  display: none;
}
.burger-btn.active .burger-btn-svg {
  display: none;
  opacity: 0;
}
.burger-btn.active .close-btn-svg {
  display: inline;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .header-container {
    padding: 15px 32px;
    display: flex;
    align-items: center;
    gap: 48.5px;
  }
  .nav {
    display: inline-flex;
    align-items: center;
  }
  .burger-btn {
    display: none;
  }
  .nav-list {
    display: inline-flex;
    gap: 16px;
  }
  .nav-btn {
    display: inline-block;
    background-color: var(--accent-color);
    border: none;
    width: 119px;
    padding: 8px 0;
  }
  .nav-btn:focus,
  .nav-btn:hover {
    background-color: var(--white-color);
    border: 1px solid var(--accent-color);
  }
  .nav-btn:active {
    background-color: var(--accent-color);
    box-shadow: var(--btn-shadow);
  }
  .header-logo-icon {
    width: 84px;
    height: 36px;
  }
}
@media screen and (min-width: 1440px) {
  .header-container {
    display: flex;
    padding: 15px 64px;
    gap: 32px;
  }
  .nav {
    flex-grow: 1;
  }
  .nav-btn {
    width: 192px;
  }
}
