.header-container {
  padding-right: 0;
  display: flex;
  max-height: 72px;
}
.nav {
  display: flex;
  max-height: 72px;
}
.header-logo-icon {
  margin-top: 2px;
}
.burger-btn {
  background-color: transparent;
  border: none;
  padding: 12px;
  margin: 12px 12px 12px auto;
  transition: var(--transition);
}
.close-btn-svg {
  display: none;
}
.burger-btn.active .burger-btn-svg {
  display: none;
  opacity: 0;
}
.burger-btn.active .close-btn-svg {
  display: inline;
  opacity: 1;
}
a {
  text-decoration: none;
}
.modal {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 72px;
  left: 0;
  background-color: var(--white-color);
  padding-top: 16px;
  transform: translateY(200%);
  transition: var(--transition);
}
.is-open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.modal-list {
  margin-bottom: 64px;
}
.modal-item:not(:last-child) {
  padding-bottom: 24px;
}
.modal-link {
  transition: var(--transition);
}
.modal-link:hover,
.modal-link:focus {
  text-decoration: underline;
}
.modal-link:active {
  color: var(--link-active-color);
  text-decoration: none;
}
.modal-btn {
  display: inline-block;
  border: none;
  background-color: var(--accent-color);
  font-weight: var(--font-md);
  width: calc(100%);
  min-width: 280px;
  max-width: 335px;
  height: 35px;
  margin-bottom: 24px;
  padding: 0;
  transition: var(--transition);
}
.modal-btn:focus,
.modal-btn:hover {
  background-color: white;
  border: 1px solid var(--accent-color);
}
.modal-btn:active {
  background-color: var(--accent-color);
  box-shadow: var(--btn-shadow);
}
