header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--white-color);
}
.header-container {
  padding: 13px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo-icon {
  width: 149px;
  height: auto;
}
.header-logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.burger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: transparent;
}
.nav {
  display: none;
}
.nav-btn {
  display: none;
}
.close-btn-svg {
  display: none;
}

.burger-btn.active .burger-btn-svg {
  display: none;
  opacity: 0;
}
.burger-btn.active .close-btn-svg {
  display: inline;
  opacity: 1;
}
@media (hover: hover) {
  .nav-link:hover {
    text-decoration: underline;
  }
  .nav-item:hover {
    text-decoration: underline;
  }
  .nav-btn:hover {
    background-color: var(--white-color);
    border-color: var(--accent-color);
  }
}
@media (min-width: 768px) {
  .header-container {
    padding: 18px 32px;
    display: flex;
    align-items: center;
    gap: 48.5px;
  }
  .header-logo-icon {
    width: 79px;
    height: 25px;
  }
  .nav {
    display: flex;
  }
  .burger-btn {
    display: none;
  }
  .nav-list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
  .nav-link:focus {
    text-decoration: underline;
  }
  .nav-btn {
    width: 119px;
    display: block;
  }
  .nav-btn:focus {
    background-color: var(--white-color);
  }
  .nav-btn:active {
    background-color: var(--accent-color);
    box-shadow: var(--btn-shadow);
  }
}
@media (min-width: 1440px) {
  .header-container {
    display: flex;
    padding: 18px 64px;
    gap: 32px;
  }
  .nav {
    flex-grow: 1;
  }
  .nav-btn {
    width: 192px;
  }
}
