.container {
}
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/hero/hero_sm@1x.jpg);
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(
       url("../img/hero/web-hero/hero_sm@1x.webp") 1x,
        url("../img/hero/web-hero/hero_sm@2x.webp") 2x,
        url("../img/hero/hero_sm@1x.jpg") 1x,
        url("../img/hero/hero_sm@2x.jpg") 2x
    );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 160px 0 152px;
}


.hero-title {
  font-family: var(--second-family);
font-size: 40px;
line-height: var(--main-title-lh);
letter-spacing: var(--title-ls);
color: var(--white-color);
margin-bottom: 24px;
}
.hero-text {
   font-family: var(--font-family);
font-size: 18px;
color: var(--white-color);
margin-bottom: 32px;
}
.hero-btn {
  border: none;
  background-color: var(--accent-color);
  font-weight: var(--font-md);
  width: 335px;
padding: 6px 0;

  transition: var(--transition);
}
.hero-btn:focus
{
    background-color: var(--white-color);
  border: 1px solid var(--accent-color);
}
.hero-btn:active {
  background-color: var(--accent-color);
  box-shadow: var(--btn-shadow);
}
@media (hover: hover) {
  .hero-btn:hover {
    background: var(--white-color);
 border: 1px solid var(--accent-color);

  }
}
