.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    image-set(
      url('../img/hero/mobile/webp/hero_sm@1x.webp') type('image/webp') 1x,
      url('../img/hero/mobile/webp/hero_sm@2x.webp') type('image/webp') 2x,
      url('../img/hero/mobile/hero_sm@1x.jpg') type('image/jpeg') 1x,
      url('../img/hero/mobile/hero_sm@2x.jpg') type('image/jpeg') 2x
    );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 160px 0 152px;
}
.hero-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: var(--main-title-lh);
  letter-spacing: var(--title-ls);
  color: var(--white-color);
}
.hero-text {
  font-size: 18px;
  color: var(--white-color);
}
.hero-content {
  margin-bottom: 32px;
}
.hero-title {
  margin-bottom: 24px;
}
.hero-btn {
  text-align: center;
}
@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      image-set(
        url('../img/hero/tablet/webp/hero_md@1x.webp') type('image/webp') 1x,
        url('../img/hero/tablet/webp/hero_md@2x.webp') type('image/webp') 2x,
        url('../img/hero/tablet/hero_md@1x.jpg') type('image/jpeg') 1x,
        url('../img/hero/tablet/hero_md@2x.jpg') type('image/jpeg') 2x
      );
    padding: 160px 0;
  }
  .hero-container {
    min-height: 544px;
  }

  .hero-content {
    max-width: 513px;
  }

  .hero-btn {
    width: 217px;
  }
}
/* @media (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../img/hero/tablet/hero_md@2x.jpg');
  }
} */
@media (min-width: 1440px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      image-set(
        url('../img/hero/desktop/webp/hero_lg@1x.webp') type('image/webp') 1x,
        url('../img/hero/desktop/webp/hero_lg@2x.webp') type('image/webp') 2x,
        url('../img/hero/desktop/hero_lg@1x.jpg') type('image/jpeg') 1x,
        url('../img/hero/desktop/hero_lg@2x.jpg') type('image/jpeg') 2x
      );
    padding: 224px 0;
    max-width: 1440px;
    margin: 0 auto;
  }

  .hero-container {
    min-height: 416px;
  }

  .hero-content {
    max-width: 640px;
  }

  .hero-btn {
    width: 192px;
  }
  .hero-title {
    font-size: 56px;
  }
}
