.modal {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 71px;
  left: 0;
  background-color: var(--white-color);
  padding-top: 16px;
  transform: translateY(-100%);
  transition: var(--transition);
}
.modal.is-open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.modal-container {
  padding: 16px 20px 24px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.modal-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.modal-item:focus .modal-link {
  text-decoration: underline;
}
.modal-item:active .modal-link {
  color: var(--link-active-color);
  text-decoration: none;
}
.modal-btn {
  text-align: center;
}
/* .modal-btn:focus {
  background-color: white;
}
.modal-btn:active {
  background-color: var(--accent-color);
  box-shadow: var(--btn-shadow);
} */
@media (min-width: 768px) {
  .modal {
    display: none;
  }
}
