.modal {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 72px;
  left: 0;
  background-color: var(--white-color);
  padding-top: 16px;
  transform: translateY(-100%);
  transition: var(--transition);
}
.is-open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.modal-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 64px;
}
/* .modal-item:not(:last-child) {
  padding-bottom: 24px;
} */
.modal-link {
  transition: var(--transition);
}
.modal-link:focus {
  text-decoration: underline;
}
.modal-link:active {
  color: var(--link-active-color);
  text-decoration: none;
}
.modal-btn {
  display: inline-block;
  border: none;
  background-color: var(--accent-color);
  font-weight: var(--font-md);
  width: 335px;
  min-height: 35px;
  margin-bottom: 24px;
  padding: 0;
  transition: var(--transition);
}
.modal-btn:focus {
  background-color: white;
  border: 1px solid var(--accent-color);
}
.modal-btn:active {
  background-color: var(--accent-color);
  box-shadow: var(--btn-shadow);
}


