.modal {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 71px;
  left: 0;
  background-color: var(--white-color);
  padding-top: 16px;
  transform: translateY(-100%);
  transition: transform var(--transition), opacity var(--transition),
    visibility var(--transition);
}
.modal.is-open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.modal-container {
  padding: 16px 20px 24px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.modal-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.modal-link {
  outline: transparent;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color var(--transition), color var(--transition);
}
.modal-item:focus .modal-link {
  text-decoration-color: currentColor;
}
.modal-item:active .modal-link {
  color: var(--link-active-color);
  text-decoration: none;
}
.modal-btn {
  text-align: center;
}
@media (hover: hover) {
  .modal-item:hover .modal-link {
    text-decoration-color: currentColor;
  }
}
@media (min-width: 768px) {
  .modal {
    display: none;
  }
}
