.container {
  max-width: 375px;
  padding: 64px 20px;
  margin: 0 auto;
}
.testimonials-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 24px;
}
.testimonials-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 40px;
}
.testimonials-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.testimonials-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.testimonials-image {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 335px;
  height: 260px;
  object-fit: cover;
}
.testimonials-content {
  background-color: #f2f2f2;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 32px;
  width: 335px;
}
.testimonials-rate {
}
.testimonials-icon {
}
.testimonials-text {
  margin: 24px 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--main-color);
}
.testimonials-author {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-color);
}
