.testimonials {
  padding: 64px 0;
}
.testimonials-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: var(--main-title-lh);
  letter-spacing: var(--title-ls);
  text-align: center;
  color: var(--main-color);
  margin-bottom: 24px;
}
.testimonials-description {
  text-align: center;
  color: var(--main-color);
  margin-bottom: 40px;
}
.testimonials-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 24px;
}
.testimonials-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.testimonials-content {
  background-color: #f2f2f2;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.testimonials-rate {
  display: flex;
  gap: 4px;
}
.testimonials-text {
  font-size: 18px;
  color: var(--main-color);
}
.testimonials-author {
  font-weight: var(--font-sb);
  color: var(--main-color);
}
@media (min-width: 768px) {
  .testimonials-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .testimonials-item {
    flex-direction: row;
  }
  .testimonials-content {
    gap: 41px;
  }
  .testimonials-image,
  .testimonials-content {
    flex: 1;
  }
}
@media only screen and (min-width: 1440px) {
  .testimonials-item {
    gap: 32px;
  }
  .testimonials-content {
    width: 640px;
  }
}
