.testimonial {
  padding: 64px 0;
}
.testimonial-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.testimonial-caption-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.testimonials-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: var(--main-title-lh);
  letter-spacing: var(--title-ls);
  text-align: center;
}
.testimonials-descr {
  text-align: center;
}
.testimonials-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 24px;
}
.testimonials-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.testimonials-content {
  background-color: #f2f2f2;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 31px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.testimonial-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.testimonials-rate {
  display: flex;
  gap: 4px;
}
.start-outline {
  fill: none;
  stroke: currentColor;
}
.testimonials-text {
  font-size: 18px;
}
.testimonials-author {
  font-weight: var(--font-sb);
}
@media (min-width: 768px) {
  .testimonials-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .testimonials-item {
    flex-direction: row;
  }
  .testimonials-content {
    justify-content: space-between;
  }
  .testimonials-content {
    width: 250px;
  }
}
@media only screen and (min-width: 1440px) {
  .testimonials-item {
    gap: 32px;
  }
  .testimonials-content {
    width: 640px;
  }
}
